<section class="home-wrapper" ng-swipe-right="swipeRight('menu-types')">
    <!--<section class="suggested-container">-->
        <!--<section class="suggested-box" id="suggested1"></section>-->
        <!--<section class="suggested-box" id="suggested2"></section>-->
    <!--</section>-->
    <section class="options-cont">
        <section class="option-box" id="new-order" ng-click="make_new_order()"><p>הזמנה חדשה</p></section>
        <section class="space"></section>
        <section class="option-box" id="last-orders" ng-click="last_orders()"><p>הזמנות אחרונות</p></section>
        <section class="space"></section>
        <section class="option-box" id="orders-library" ng-click="orders_library()"><p>ספריית הזמנות</p></section>
    </section>
</section>